@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --white: #fff;
  --white-500: #f3f5f9;
  --white-600: #f6f9fc;
  --white-700: #ffe1ef;

  --grey-500: #b8b7b7;

  --yellow-500: #ffcd4e;

  --red-500: #e94560;
  --red-700: #ff014f;

  --blue-500: #0f3460;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  font-family: "Poppins", sans-serif;
}

.background {
  background-color: var(--white-600);
  padding: 3.125rem 0;
}

.container {
  max-width: 90%;
  margin: auto;
}

.f_flex {
  display: flex;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.d_flex {
  display: flex;
  justify-content: space-between;
}

.c_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.RText {
  text-align: right;
}

input,
button {
  border: none;
  outline: none;
  background: none;
}

.row {
  width: 50%;
}

.icon-circle {
  width: 3.125rem;
  height: 3.125rem;
  line-height: 3.125rem;
  background-color: var(--white-500);
  margin-left: 1.25rem;
  text-align: center;
  border-radius: 50%;
}

.boxShadow {
  box-shadow: rgba(43 52 69 / 10%) 0 0.25rem 1rem;
}

/*------------Category------------*/
.contentWidth {
  width: 77%;
}

.category {
  width: 23%;
  box-shadow: rgba(43 52 69 / 10%) 0 4px 16px;
  height: 31.875rem;
  padding: 0.938rem 0;
  border-radius: 0.313rem;
  margin-top: 0.313rem;
}

.category img {
  width: 1.875rem;
  height: 1.875rem;
  margin-top: 0.625rem;
  object-fit: contain;
}

.category span {
  margin: 0.625rem 1.25rem;
  text-transform: capitalize;
}

.category .box {
  transition: 0.5s;
  padding: 0 1.25rem;
}

.category .box:hover {
  background-color: var(--white-700);
  cursor: pointer;
}

.discount {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--red-500);
  color: var(--white);
  padding: 0.188rem 0.625rem;
  font-size: 0.75rem;
  border-radius: 50px;
  margin: 0.625rem;
}
/*------------Category------------*/
.btn-primary {
  background-color: var(--red-500);
  color: var(--white);
  padding: 0.813rem 1.25rem;
  font-weight: bold;
  border-radius: 0.313rem;
  cursor: pointer;
}

.top {
  margin-top: 3.125rem;
}

.mtop {
  margin-top: 2.5rem;
}

.heading i {
  color: var(--red-500);
  margin: 0.625rem;
}

/*------------Product------------*/
.product {
  background-color: var(--white);
  padding: 1.25rem;
  position: relative;
  border-radius: 0.5rem;
  box-shadow: rgb(3 0 71 / 9%) 0 1px 3px;
  margin: 0.625rem;
}

.product .img {
  padding: 2rem;
}

.product .img img {
  height: 18.75rem;
  max-height: 18.75rem;
  width: 100%;
  max-width: 100%;
  object-fit: contain;
}

.product h3 {
  font-weight: 400;
  font-size: 1.063rem;
}

.product .rate i {
  font-size: 0.938rem;
  color: var(--yellow-500);
  margin: 0.313rem 0.313rem 0.313rem 0;
}

.product .price {
  display: flex;
  justify-content: space-between;
  color: var(--red-500);
}

.product button {
  background: none;
  color: var(--red-500);
  font-size: 1.25rem;
  border: 1px solid rgb(3 0 71 / 9%);
  width: 2.188rem;
  height: 2.188rem;
  border-radius: 0.313rem;
  transition: 0.5s;
}

.product button:hover {
  cursor: pointer;
  background-color: var(--red-500);
  color: var(--white);
}

.product-like {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.625rem;
  opacity: 0;
  transition: 0.5s;
  font-weight: bold;
}

.product-like label {
  background-color: var(--blue-500);
  color: var(--white);
  padding: 0.063rem 0.625rem;
  font-size: 0.75rem;
  border-radius: 3.125rem;
}

.product-like i {
  font-size: 1.25rem;
  margin: 0.625rem 0.188rem;
}

.i-red {
  color: var(--red-500);
  font-weight: bold;
}

.product:hover .product-like {
  opacity: 1;
  cursor: pointer;
}
/*------------Product------------*/
/*------------Control-btn------------*/
.control-btn .next,
.control-btn .prev {
  position: absolute;
  top: 40%;
  width: 3.125rem;
  height: 3.125rem;
  line-height: 3.75rem;
  background-color: var(--blue-500);
  border-radius: 50%;
  transition: 0.5s;
  z-index: 5;
  cursor: pointer;
}

.control-btn .prev {
  left: -1.25rem;
}

.control-btn .next {
  right: -1.25rem;
}

.control-btn .next i,
.control-btn .prev i {
  font-size: 1.25rem;
  transition: 0.5s;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-btn .next:hover,
.control-btn .prev:hover {
  background-color: var(--red-500);
  color: var(--white);
}
/*------------Control-btn------------*/
/*----- heading -------*/
.heading .heading-left i {
  font-size: 1.875rem;
}
.heading .heading-left h2 {
  font-size: 1.563rem;
  margin: 5px 0;
}
.heading .heading-right i,
.heading .heading-right {
  text-align: right;
  color: grey;
}
/*----- heading -------*/
